@CHARSET "UTF-8";
@import "mysite.css";

#board{
	margin:20px auto;
	width:540px;
}

#board table{
	width:100%;
	border: 1.5px solid #555;
	border-collapse: collapse;
}

#board table,	
#board table td, #board table th {
	border:1px solid #555;
	padding:5px;
}

#board table th{
	text-align: center;
	background-color: #aaa;
	color: #fff;
	
}
#board #writeBtnDiv{
	width: 100%;
	margin: 20px auto 0 auto;
	text-align: center;
}
#board #writeBtn{
}
#board .btn{
	
	padding: 5px 10px;
	font-family: 맑은 고딕;
	
}
#board #insertForm{
}